body {
  margin: 0 auto;
  max-width: 50%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background-image {
  max-width: 200px;
  margin-bottom: 15px;
}

.sun-image {
  background-color: red;
  background-image: url("sun-image.svg");
}

.rain-image {
  background-color: blue;
  /* background-image: url("./rain-image.svg"); */
}